<section class="overzicht-nav">
    <a href="/">
        <img src="/assets/arrow-white.svg" 
        alt="Back to overview page">
        <span>OVERZICHT <strong>TEKENMETHODES</strong></span>
    </a>
</section>
<section class="detail-smallnavbar">
    <h1><%= method.title %></h1>
    <ul>
        <a href="/method/<%= method.slug %>"><li>Beschrijving</li></a>
        <a href="/method/<%= method.slug %>/stappenplan"><li>Stappenplan</li></a>
        <a href="/method/<%= method.slug %>/examples"><li>Voorbeelden</li></a>
        <a href="/method/<%= method.slug %>/form?id=<%= method.id %>"><li>Comments</li></a>
    </ul>
</section>