<section class="overzicht-nav">
    <a href="/">
        <img src="/assets/arrow-white.svg" 
        alt="Back to overview page">
        <span>OVERZICHT <strong>TEKENMETHODES</strong></span>
    </a>
</section>
<section class="detail-smallnavbar">
    <h1><%= method.title %></h1>
    <ul>
        <li><a href="/method/<%= method.slug %>">Beschrijving</a></li>
        <li><a href="/method/<%= method.slug %>/stappenplan">Stappenplan</a></li>
        <li><a href="/method/<%= method.slug %>/examples">Voorbeelden</a></li>
        <li><a href="/method/<%= method.slug %>/comments">Comments</a></li>
    </ul>
</section>