<%- include('./partials/head') %>

<%- include('./partials/navbar') %>

<%- include('./partials/overview-nav') %>

<section>
    <img src="<%= method." alt="">
</section>

<section class="detail-info">
    <p><%- method.description.html %></p>
</section>


<%- include('./partials/foot') %>